@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   height: 100vh;
}

.ql-editor {
   font-size: 1.05rem;
}

.post-content p {
   margin-bottom: 0.5rem;
}

.post-content h1 {
   font-size: 1.5rem;
   font-weight: 600;
   font-family: sans-serif;
   margin: 1.5rem 0;
}

.post-content h2 {
   font-size: 1.4rem;
   font-family: sans-serif;
   margin: 1.5rem 0;
}

.post-content a {
   color: rgb(73, 149, 199);
   text-decoration: none;
}

.post-content a:hover {
   text-decoration: underline;
}

.dark .post-content a {
   color: red;
}

ul.py-1 {
   padding: 0;
}

.centered {
   text-align: center;
   width: 100%;
}

.light-theme .ql-editor::before {
   color: #000;
}

.dark-theme .ql-editor::before {
   color: #fff;
}

.browser {
   margin-top: 7rem;
   margin-bottom: 7rem;
}

.flag-image {
   background-size: cover;
   background-repeat: no-repeat;
   display: inline-block;
}

.custom-scrollbar {
   @apply overflow-y-auto max-h-[60vh];
}

.custom-scrollbar::-webkit-scrollbar {
   width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
   background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #555;
}

/* For Firefox */
.custom-scrollbar {
   scrollbar-width: thin;
   scrollbar-color: #888 transparent;
}

.transition-transform {
   transition: transform 0.3s ease;
}

.link {
   color: teal;
   text-decoration: underline;
}

.placeholder-gray-500::placeholder {
   color: #6b7280;
}

.dark .placeholder-white::placeholder {
   color: #ffffff;
}

.border-dialog {
   border-width: 0.2px;
}

.border-button {
   border-width: 0.2px;
}

.custom-header-padding {
   padding: 13px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
   display: none;
}
input[type="password"]::-webkit-textfield-decoration-container {
   display: none;
}

input::placeholder {
   color: #a0aec0;
}
