@media (max-width: 350px) {
  .avatar-small {
      width: 26px;
      height: 26px;
  }
  .ml-2-350 {
    margin-left: 0.5rem;
  }
}

@media (max-width: 365px) {
  .welcome {
    height: 250px; 
  }
  .margin-header {
    margin-right: 1rem;
  }
}

@media (max-width: 380px) and (min-width: 366px) {
  .welcome-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .welcome-height {
    height: 250px;
  }
}

@media (max-width: 390px) {
  .card-height {
    height: 450px;
  }
}

@media (max-width: 400px) {
  .flex-row {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .custom-flex-500 {
    flex-direction: column;
  }
  .avatar-image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 540px) {
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

@media (min-width: 541px) and (max-width: 639px) {
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (min-width: 540px) and (max-width: 860px) {
  .responsive-row {
    flex-direction: row;
  }
}

@media (max-width: 639px) {
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex-1 {
    width: 100%;
    max-width: 100%;
  }
  .p-7 {
    padding: 30px 0 0 0;
  }
  .table-auto {
    font-size: 12px;
  }
  .table th, .table td {
    padding: 8px;
  }
  .custom-mx-10 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 767px) and (max-width: 859px) {
  .flex-responsive {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .mx-responsive {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

@media (min-width: 768px) and (max-width: 859px), (min-width: 768px) and (max-width: 1340px) {
  .hidden-in-range {
    display: none;
  }
  .show-in-range {
    display: block !important;
  }
  .mx-responsive {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

@media (min-width: 1080px) {
  .mr-20-768-1080 {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 811px) {
  .theme-container,
  .import {
    max-width: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .flex.flex-row {
    flex-direction: column;
  }
  .text-container {
    width: 100%;
  }
  .image {
    width: 100%;
    margin-bottom: 2rem;
    order: -1;
  }
  .productivity-work {
    width: 100%;
  }
  .padding-custom {
    padding: 1.5rem;
  }
  .ml-6-custom {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
  .mr-0-custom {
    margin-right: 0;
  }
  .ml-0-custom {
    margin-left: 1.5rem !important;
  }
  .order-first {
    order: 2;
  }
  .order-last {
    order: 1;
  }
}

@media (max-width: 811px) {
  .flex-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-row .flex-col {
    align-items: flex-start;
  }
  .custom-button {
    margin-left: 0 !important;
    margin-top: 2rem;
  }
  .half-height {
    height: 50vh;
  }
}

@media (max-width: 840px) and (min-width: 768px) {
  .image-chatify {
    width: 20rem;
    height: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .grid-column-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 859px) {
  .center-text {
    text-align: center;
  }
  .custom-flex {
    flex-direction: column;
  }
  .text-left-860 {
    text-align: left;
  }
  .padding-card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .grid-column-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .custom-flex {
    flex-direction: column;
    gap: 4.5rem;
  }
  .menu-icon {
    display: block;
  }
  .custom-hidden {
    display: none;
  }
  .mr-4-860 {
    margin-right: 1rem;
  }
}

@media (min-width: 860px) {
  .home-menu-icon {
    display: none;
  }
  .custom-flex-none {
    flex: none;
  }
  .max-width {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-button,
  .search-button {
    display: none;
  }
  .responsive-row {
    flex-direction: row;
  }
}

@media (min-width: 860px) and (max-width: 1080px) {
  .text-card {
    font-size: 1.25rem;
  }
  .margin-right {
    margin-right: 2rem;
  }
}

@media (max-width: 900px) {
  .custom-max-width {
    max-width: 220px;
  }
}

@media (min-width: 900px) {
  .custom-max-width {
    max-width: 25%;
  }
}

@media screen and (max-width: 940px) {
  .padding-custom {
    padding: 1.5rem;
  }
  .ml-6-custom {
    margin-top: 1rem;
  }
  .mr-0-custom {
    margin-right: 1rem;
  }
  .ml-0-custom {
    margin-left: 1.5rem !important;
  }
}

@media screen and (min-width: 811px) and (max-width: 1550px) {
  .theme-container,
  .import {
    max-width: none;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 1030px) {
  .hide-below-1030px {
    display: none;
  }
  .responsive-grid {
    grid-template-columns: 1fr;
  }
  .custom-flex-1030 {
    flex-direction: column;
    align-items: flex-start;
  }
  .custom-flex-1030 .mt-4 {
    margin-top: 1rem;
  }
  .custom-flex-1030 .sm\:mt-0 {
    margin-top: 0;
  }
  .custom-flex-1030 h1 {
    font-size: 2rem;
  }

  .custom-flex-1030 .group {
    text-align: left;
  }

  .custom-flex-1030 .gap-2 {
    gap: 1rem;
  }

  .custom-flex-1030 .text-sm {
    font-size: 0.875rem
  }

  .custom-flex-1030 .mt-4 {
    margin-top: 16px;
  }
}

@media (max-width: 1079px) {
  .custom-margin {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .margin-download-card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .responsive-max-width {
    max-width: none;
  }
  .padding-card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1080px) {
  .mx-8-1080 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .custom-ml {
    margin-left: 5.5rem;
  }
  .custom-mr {
    margin-right: 5.5rem;
  }
  .padding-card {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .mx-20-1080 {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .custom-mx-32 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media (min-width: 1340px) {
  .mx-responsive {
    margin-left: 14rem;
    margin-right: 14rem;
  }
}

@media (max-width: 1400px) {
  .search-button-content span {
    display: none;
  }
  .search-button-text {
    margin-right: 0;
  }
  .username-text,
  .theme-text {
    display: none;
  }
}
